#root{
    --inactive-text: #696969;
    --inactive-color: #f8f8f8;
}

.tab-options{
    box-shadow: rgb(232, 232 , 232) 0px -0.5px 0px inset;
}
.tab-item{
    padding: 12px 0px 20px 0px;
}
.tab-name{
    font-weight: 600;
    color: var(--inactive-text);
}
.tab-image-container{
    border-radius: 50%;
    background: var(--inactive-color);
}
.active-tab{
    border-bottom: 2px solid #ff7e8b;
}
.active-tab .tab-name{
    color:  #ff7e8b;
}